{% extends "plataforma/menu.html" %}

{% block contenido %}
    <h1>Lista de Alumnos</h1>
    <ul class="alumno-list">
        {% for alumno in alumnos %}
        <li class="alumno-item">
            <span>{{ alumno.user.get_full_name|default:alumno.user.username }}</span>
            <a href="{% url 'chat_window' profesor=request.user.username alumno=alumno.user.username %}" class="chat-button-user">Chatear</a>
        </li>
        {% empty %}
        <li>No tienes alumnos asignados en ninguna clase.</li>
        {% endfor %}
    </ul>
{% endblock %}
