{% extends "plataforma/menu.html" %}

{%block contenido%}
<div>
    <div class="row">
        <div class="col">
            <h1>Clases</h1>
        </div>
        <div class="col"></div>
         <div class="col-md-4">
           <div class="d-grid m-3"> 
            <button type="button" class="btn btn-success p-3">Agregar clase</button>
        </div>
         </div>
    </div>
    <div class="row">        
        <div class="col-md-6 col-lg-4"> <!-- Se adapta al tamaño de pantalla -->            
            <div class="card border-2 border-success">
                <div class="card-body">
                    <h5 class="card-title">Clase 1A</h5>
                    <p class="card-text">Contenido...</p>
                    <a href="{% url 'detalleClase' %}" class="card-link float-end">Ver más</a>
                </div>
            </div>
        </div>

    </div>
</div>
{%endblock%}